<main ng-controller="DashboardController">
    <div ng-include="'public/Mainmenu.html'"></div>
        <div class="row mt-2 ml-lg-1 ml-md-1" ng-init="GetDashboardCount('Today');CheckFirsttimeLogin()">
            <div class="col s12 m6">
                <label>
                    <input name="group1" type="radio" ng-click="GetDashboardCount('Today')" checked />
                    <span>Today</span>
                </label>
                <label>
                    <input name="group1" type="radio" ng-click="GetDashboardCount('Week')"/>
                    <span>Week</span>
                </label>
                <label>
                    <input name="group1" type="radio" ng-click="GetDashboardCount('Month')"/>
                    <span>Month</span>
                </label>
                <label>
                    <input name="group1" type="radio" ng-click="GetDashboardCount('Year')"/>
                    <span>Year</span>
                </label>
            </div>
            <div class="col s12 m6">
                <div class="row">
                    <div class="col s6">
                        <input type="text" class="datepicker" ng-model="fromdate" ng-click="GetDashboardCountOndates(fromdate,todate)" placeholder="From Date">
                    </div>
                    <div class="col s6">
                        <input type="text" class="datepicker" ng-model="todate" ng-click="GetDashboardCountOndates(fromdate,todate)" placeholder="To Date">
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card dashboardcount" style="background-image: url(../images/dashboardicons/brands.png)">
                    <div class="valign-wrapper ml-3">
                        <p class="flow-text">
                            <h5 class="black-text darken-4">Brands</h5>
                        </p>
                    </div>
                    <div class="valign-wrapper ml-3">
                        <p class="flow-text">
                            <h5 class="black-text darken-4">{{DashboardCounts[0].totalbrands}}</h5>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card dashboardcount" style="background-image: url(../images/dashboardicons/product.png)">
                    <div class="valign-wrapper ml-3">
                        <p class="flow-text">
                            <h5 class="black-text darken-4">Products</h5>
                        </p>
                    </div>
                    <div class="valign-wrapper ml-3">
                        <p class="flow-text">
                            <h5 class="black-text darken-4">{{DashboardCounts[0].totalproducts}}</h5>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card dashboardcount" style="background-image: url(../images/dashboardicons/users.png)">
                    <div class="valign-wrapper ml-3">
                        <p class="flow-text">
                            <h5 class="black-text darken-4">Users</h5>
                        </p>
                    </div>
                    <div class="valign-wrapper ml-3">
                        <p class="flow-text">
                            <h5 class="black-text darken-4">{{DashboardCounts[0].totalusers}}</h5>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card dashboardcount" style="background-image: url(../images/dashboardicons/sale.png)">
                    <div class="valign-wrapper ml-3">
                        <p class="flow-text">
                            <h5 class="black-text darken-4">Sale</h5>
                        </p>
                    </div>
                    <div class="valign-wrapper ml-3">
                        <p class="flow-text">
                            <h5 class="black-text darken-4">{{DashboardCounts[0].totalorderamt | number:2}}</h5>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card dashboardcount" style="background-image: url(../images/dashboardicons/purchase.png)">
                    <div class="valign-wrapper ml-3">
                        <p class="flow-text">
                            <h5 class="black-text darken-4">Purchase</h5>
                        </p>
                    </div>
                    <div class="valign-wrapper ml-3">
                        <p class="flow-text">
                            <h5 class="black-text darken-4">{{DashboardCounts[0].totalpoamt | number:2}}</h5>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card dashboardcount" style="background-image: url(../images/dashboardicons/customers.png)">
                    <div class="valign-wrapper ml-3">
                        <p class="flow-text">
                            <h5 class="black-text darken-4">Customers</h5>
                        </p>
                    </div>
                    <div class="valign-wrapper ml-3">
                        <p class="flow-text">
                            <h5 class="black-text darken-4">{{DashboardCounts[0].totalcustomers}}</h5>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card dashboardcount" style="background-image: url(../images/dashboardicons/Inquiries.png)">
                    <div class="valign-wrapper ml-3">
                        <p class="flow-text">
                            <h5 class="black-text darken-4">Inquiries</h5>
                        </p>
                    </div>
                    <div class="valign-wrapper ml-3">
                        <p class="flow-text">
                            <h5 class="black-text darken-4">{{DashboardCounts[0].totalinquiries}}</h5>
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row mt-1 ml-lg-1 ml-md-1" ng-init="getMonthlyStockStatement();TopTenSaledProducts();BrandWiseSale();MostSalingTime();">
                <div class="col m12 s12"><div class="card"><div id="monthlyprdsheet"></div></div></div>
            </div>
            <div class="row mt-1 ml-lg-1 ml-md-1">
                <div class="col m6 s12">
                    <div class="card">
                        <div id="toptensaledprd"></div>
                    </div>
                </div>
                <div class="col m6 s12">
                    <div class="card">
                        <div id="mostsalingtime"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-1 ml-lg-1 ml-md-1">
                    <div class="col m12 s12"> <div class="card"><div id="brandwisesale"></div></div></div>
            </div>
			
			<div id="ChangePassword" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
</main>