<main ng-controller="ProductController">
        <div ng-include="'public/Mainmenu.html'"></div>
        <div class="row ml-lg-1 ml-md-1">
            <div class="col s12 m12">
                <h5>Inventory</h5>
            </div>
            <div class="col m4 s12" ng-init="getInventoryOnInterval('Today');">
                    <label>
                            <input name="group1" type="radio" checked ng-click="getInventoryOnInterval('Today');" />
                            <span>Today</span>
                        </label>
                        <label>
                            <input name="group1" type="radio" ng-click="getInventoryOnInterval('Week');" />
                            <span>Week</span>
                        </label>
                        <label>
                            <input name="group1" type="radio" ng-click="getInventoryOnInterval('Month');" />
                            <span>Month</span>
                        </label>
                        <label>
                            <input name="group1" type="radio" ng-click="getInventoryOnInterval('Year');" />
                            <span>Year</span>
                        </label>
            </div>
            <div class="col m5 s12 left">
                    <div class="row">
                            <div class="col s6">
                                <input type="date"  ng-model="fromdate" ng-change="getInventoryOnDates(fromdate,todate)" placeholder="From Date">
                            </div>
                            <div class="col s6">
                                <input type="date"  ng-model="todate"  ng-change="getInventoryOnDates(fromdate,todate)" placeholder="To Date">
                            </div>
                        </div>
            </div>
            <div class="col m3 s12 right">
                <input type="text" class="validate" placeholder="Search" ng-model="Search">
            </div>
            <div class="col m12 s12">
                <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                            <th>#</th>
                            <th class="text-center" data-field="name">Product</th>
                            <th class="text-center"  data-field="mrp">MRP</th>
                            <th class="text-center"  data-field="mrp">Opening Bal.</th>
                            <th class="text-center"  data-field="mrp">Qty. Recived</th>
                            <th class="text-center"  data-field="mrp">Qty. Issue</th>
                            <th class="text-center"  data-field="mrp">Closing Bal.</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in InventoryList | filter:Search">
                            <td> {{$index +1}}</td>
                            <td>{{data.name}}</td>
                            <td class="right-align">{{data.mrp |number:2}}</td>
                            <td>{{data.openingbal}}</td>
                            <td>{{data.qtyrcvd}}</td>
                            <td>{{data.qtyissued}}</td>
                            <td>{{data.closingbal}}</td>
                        </tr>
                    </tbody>
    
                </table>
            </div>
            </div>
        </div>
    
        <!-- Modal Structure -->
        <div id="InquiryDetails" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>Product`s saled record</h4>
               
            </div>
            <div class="modal-footer">
                <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    </main>