<main ng-controller="ProductController">
  <div ng-include="'public/Mainmenu.html'"></div>
  <div class="row ml-lg-1 ml-md-1" ng-init="ListBrands();ListProducts();ListCustomers();">

    <div class="col s9 m9"> <input type="text" class="col m4 s12" placeholder="Search" ng-model="search"></div>
    <div class="col s3 m3 show-on-medium-and-down hide-on-large-only" ><button data-target="modalConfirmCart" class="btn-floating  modal-trigger btn-large waves-effect waves-light red right mt-2"
        ng-disabled="CartList.length === 0"><i class="fa fa-shopping-basket" aria-hidden="true"></i></button><span
        class="new badge">{{CartList.length}}</span></div>
  </div>
  <div class="row">
  <div class="col m6 s12">
    <div class="col s12 m4 right" ng-repeat="data in ProductsList | filter:search" style="height
    :240px;" >
      <div class="card  grey lighten-5" style="height
      :220px;">
        <div class="card-content black-text carticons" style="background-image: url(../uploads/{{data.imgfile}})">
          <span class="card-title">{{data.name}}</span>
          <span class="card-title">{{data.brandname}}</span>
        </div>
        <div class="card-action text-nowrap">
          <a href="">Slot: {{data.slot}}</a>
          <a href="" class="text-right">{{data.mrp |number:2}}/-</a>
          <div class="quantity ml-auto mr-auto text-nowrap">
            <a class="waves-effect waves-light btn btn-small btn-floating cartbtn plus-btn" ng-click="Updatecart('add',data)"><i
                class="material-icons left">add</i></a>
            <input type="text" name="name" ng-model="data.qty">
            <a class="waves-effect waves-light btn btn-small btn-floating cartbtn minus-btn" ng-disabled="(!data.qty || data.qty == 0)"
              ng-click="Updatecart('remove',data)"><i class="material-icons left">remove</i></a>
          </div>

        </div>
      </div>
    </div>
    </div>
    <div class="m6 hide-on-med-and-down"></div<>
    </div>

    <!-- Modal Structure -->
    <div id="modalConfirmCart" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Confirm Order</h4>
        <div class="row">
          <form name="customer">
          <div class="col s12 m4">
            <div class="input-field">
              <input id="name" type="text" class="validate" ng-model="CartList[0].customername" uib-typeahead="custobj as (custobj.name +'-'+custobj.mobile) for custobj in CustomersList | filter:$viewValue" typeahead-on-select="GetCustomerDetails($item.id)" required>
              <label for="name">Name</label>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="input-field">
              <input id="mobile" type="number" class="validate" ng-model="CartList[0].mobileno">
              <label for="mobile">Mobile No.</label>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="input-field">
              <input id="email" type="email" class="validate" ng-model="CartList[0].email">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="input-field col s12 m12">
            <textarea id="address" class="materialize-textarea" ng-model="CartList[0].address"></textarea>
            <label for="address">Address</label>
          </div>
        </form>
        </div>
        <div class="row">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <th>#</th>
                <th>Product</th>
                <th>Net Amt.</th>
                <th>Qty.</th>
              </thead>
              <tbody>
                <tr ng-repeat="objs in CartList">
                  <td>{{$index +1}}</td>
                  <td>{{objs.name}} - {{objs.mrp|number:2}}</td>
                  <td>{{objs.mrp * objs.qty |number:2}}</td>
                  <td>
                    <div class="quantity ml-auto mr-auto text-nowrap">
                      <a class="waves-effect waves-light btn btn-small btn-floating cartbtn plus-btn" ng-click="Updatecart('add',objs)"><i
                          class="material-icons left">add</i></a>
                      <input type="text" name="name" ng-model="objs.qty">
                      <a class="waves-effect waves-light btn btn-small btn-floating cartbtn minus-btn" ng-disabled="(!objs.qty || objs.qty == 0)"
                        ng-click="Updatecart('remove',objs)"><i class="material-icons left">remove</i></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <div class="modal-footer">

        <div class="col s4 m4">
          <span class=""><b>Total: {{(CalculateNetamount()|number:2 )||'00.00'}}</b></span>
        </div>
        <div class="col s8 m8">
            <div class="row right"><div class="col s6 m6"><b>Paid Amount:</b></div><div class="col s6 m6"> <input type="number" class="validate" placeholder="Paid Amount" ng-model="CartList[0].paidamount"></div></div>
          </div>
        <div class="col s12 m12">
          <div class="row">
            <a href="" class="modal-close waves-effect waves-green btn-flat">Close</a> <a href="" class="modal-close waves-effect waves-green btn-flat"
              ng-disabled="CartList.length === 0 && customer.$invalid" ng-click="SubmitOrder()">Confirm</a>
          </div>
        </div>

      </div>
    </div>
</main>