 <div class="section"></div>
    <main ng-controller="LoginController">
        <center>
            <div class="section"></div>

            <h5 class="indigo-text">Set up your new password</h5>
            <div class="section"></div>

            <div class="container">
                    
                <div class="z-depth-1 grey lighten-4 row changepasswordslot">
                    <form class="col s12" name="Authenticate" ng-submit="SetNewPassword()">
                        <div class='row'>
                            <div class='col s12'>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='input-field col s12 passwordfield'>
                                <input class='validate' type='password' name='password' id='password' ng-model="UserDetails[0].password"  ng-change="verifyPasswordStrongness(UserDetails[0].password)"required />
                                <label for='password'>New Password</label>
                                <i class="material-icons showhidepassword" ng-click="showHidePassword('password')">{{paswdvsicon}}</i>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='input-field col s12 passwordfield'>
                                <input class='validate' type='password' name='password' id='confpassword' ng-model="confirm_password" ng-change="verfiPasswordConf(UserDetails[0].password,confirm_password)"  required />
                                <label for='confpassword'>Confirm Password</label>
                                <i class="material-icons showhidepassword" ng-click="showHidePassword('confpassword')">{{paswdvsiconconf}}</i>
                            </div>
                          
                        </div>

                        <div class='row passwordfield'>
                                <div class="input-field col m12 s12 text-center mt-4" ng-if="passwordcalc">
							<div class="progress">
							<div class="determinate" id="prgpass" style="width: {{passscore}}%;background-color:{{prgcol}}"></div>
							
							</div>
							<strong for="prgpass">{{passstrenth}}</strong>
						</div>
                            </div>
                        <br>
                        <center>
                            <div class='row col s12 passwordfield'>
                                <button type='submit' name='btn_login' ng-disabled="Authenticate.$invalid" id="resetpassbtn" class='btn btn-large waves-effect indigo' >Submit</button>
                            </div>
                        </center>
                    </form>
                </div>
            </div>
        </center>

      

        <div class="section"></div>
        <div class="section"></div>
    </main>