<main ng-controller="LoginController" >
        <div ng-include="'public/Mainmenu.html'"></div>
        <div class="row ml-lg-1 ml-md-1" ng-init="ListUsersDetails('1')">
            <div class="col s12 m12">
                <h5>Users</h5>
            </div>
            <div class="col m2 s3">
                <a class="waves-effect waves-light btn modal-trigger" data-target="UserDetails">Add New</a>
            </div>
            <div class="col m3 s9 right">
                <input type="text" class="validate" placeholder="Search" ng-model="Search">
            </div>
			<div class="col m2 s5">
           <select id="brand" ng-model="pageSize" ng-options="obj.value as obj.name for obj in recordsdisplay">
                  <option value="" disabled selected>Choose your option</option>
              </select>
        </div>
        <div class="col m4 s7 right">
           
		   <div class="row">
			<button style='border:none;background:transparent;color:black;' ng-disabled='currentPage == 0' class="btn-flat" ng-click='currentPage=currentPage-1'><i class='fa fa-chevron-left'></i></button>
			
			<b>  {{currentPage+1}} / {{numberOfPages()}} </b>
			<input type='number' min='1' max='{{maxpage}}' ng-change='checkcurrpage(myValue)' style='width:25%' class="hidden-xs" ng-model='myValue'>
			
			<button style='border:none;background:transparent;color:black' class='btn-flat' ng-disabled='currentPage >= UserList.length/pageSize - 1' ng-click='currentPage=currentPage+1'><i class='fa fa-chevron-right'></i></button>
		   </div>
		   
		   
        </div>
            <div class="col m12 s12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <th>#</th>
                            <th class="text-center" data-field="name">Name</th>
                            <th class="text-center" data-field="email">Email</th>
                            <th class="text-center" data-field="mobile">Mobile</th>
                            <th class="text-center" data-field="role">Role</th>
                            <th class="text-center" data-field="companyname">Company</th>
                            <th class="text-center">Action</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in UserList | filter:Search | startFrom:currentPage*pageSize | limitTo:pageSize">
                                <td> <label>
                                        <input type="checkbox" ng-model="data.bool" />
                                        <span>{{$index +1}}</span>
                                    </label></td>
                                    <td>{{data.name}}</td>
                                <td>{{data.email}}</td>
                                <td>{{data.mobile}}</td>
                                <td>{{data.role}}</td>
                                <td>{{data.companyname}}</td>
                                <td class="text-nowrap text-center"><a class="btn amber modal-trigger" ng-click="GetUserDetails(data.id)"  data-target="UserDetails">Edit</a> | <a class="btn red"  ng-click="DeleteUserDetails(data.id)">Delete</a></td>
                            </tr>
                        </tbody>
    
                    </table>
                </div>
            </div>
        </div>
    
        <!-- Modal Structure -->
        <div id="UserDetails" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>User Details</h4>
                <form name="userdetails">
                        <div class="row">
                                <div class="input-field col s12 m6">
                                        <input id="name" type="text" class="validate" ng-model="UserDetails[0].name">
                                        <label for="name">Name</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="email" type="email" class="validate" ng-model="UserDetails[0].email">
                                    <label for="email">Email</label>
									<span class="red-text">{{emailvalidatemessage}}</span>
                                </div>
                                
                            </div>
                    <div class="row">
                            <div class="input-field col s6 m4">
                                    <input id="mobile" type="number" class="validate" ng-model="UserDetails[0].mobile">
                                    <label for="mobile">Mobile</label>
                                </div>
                    <div class="input-field col s6 m4">
                            <select id="role" ng-model="UserDetails[0].role" ng-options="obj for obj in UserRole">
                                    <option value="" disabled selected>Choose your option</option>
                                  </select>
                        <label for="role">Role</label>
                    </div>
                    <!-- <div class="input-field col s6 m4 passwordfield">
                        <input id="password" type="password" class="validate" ng-model="UserDetails[0].password">
                        <label for="password">Password</label>
                        <i class="material-icons showhidepassword" ng-click="showHidePassword('password')">{{paswdvsicon}}</i>
                    </div> -->
                </div>
                   
                    <div class="row">
                            <div class="input-field col s4 m6">
                                    <div class="file-field input-field">
                                            <div class="btn">
                                              <span>File</span>
                                              <input type="file" id="imgInp" ngf-select ng-model="profilepic" name="file" ngf-pattern="'image/*'"
                                              ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
                                              ngf-resize="{width: 100, height: 100}">
                                            </div>
                                            <div class="file-path-wrapper">
                                              <input class="file-path validate" placeholder="Select File" type="text">
                                            </div>
                                          </div>
                            </div>
                            <div class="col s12 m6">
                                    <img id="imgpanel" src="uploads/{{UserDetails[0].profilrpic}}"  />
                                    <button class="imgbtn btn grey" ng-click="clear()">Clear</button>
                            </div>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                <a href="" ng-click="ValidateEmailForUser()" ng-disabled="userdetails.$invalid" class="waves-effect waves-green btn-flat">Submit</a>
            </div>
        </div>
    </main>