<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Design Lite Login From</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/material.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="angular/angular-sanitize.min.js"></script>
    <script src="angular/ui-bootstrap-tpls.min.js"></script>
    <script src="angular/ng-file-upload.min.js"></script>
    <script src="scripts/Controllers/LoginController.js"></script>
</head>

<body ng-app="MyApp" ng-controller="LoginController" ng-cloak>
    <div class="mdl-layout mdl-js-layout">
        <div id="login-conatiner" class="mdl-card mdl-shadow--16dp">
            <div class="mdl-card__supporting-text">
                <div id="login-fab" class="mdl-color--accent mdl-color-text--white">
                    <i id="lock-icon" class="material-icons">lock</i>
                </div>
                <div id="card-heading">
                    User Login
                </div>
                <form name="loginform" ng-submit="authUser()">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input type="email" class="mdl-textfield__input" id="email" ng-model="userDetails.email"
                            required />
                        <label class="mdl-textfield__label" for="email">Email</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label passwordfield">
                        <input class="mdl-textfield__input" type="password" id="password" ng-model="userDetails.password"
                            required />
                        <label class="mdl-textfield__label" for="password">Password</label>
                        <i class="material-icons showhidepassword" ng-click="showHidePassword('password')">{{paswdvsicon}}</i>
                    </div>
                    <div class="mdl-textfield" ng-if="errormsg">
                        <label class="text-danger bold-text">{{errormsg}}</label>
                    </div>
                    <button id="login-button" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white"
                        ng-disabled="loginform.$invalid">
                        Login
                    </button>
                </form>
            </div>

            <div class="mdl-card__actions">
                <button id='forgotpassword' class="mdl-button mdl-js-button mdl-button--primary" data-toggle="modal"
                    data-target="#myModal">Forgot Password</button>
            </div>
        </div>


        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h5 class="modal-title">Forgot Password</h5>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        <div class="mdl-grid">
                            
                                <label class="mdl-textfield__label text-center">Enter your registerd email to reset password.</label>
                            <form action="#" class="ml-auto mr-auto mt-4">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="email" id="frgt_email" ng-model="user.email" required>
                                    <label class="mdl-textfield__label" for="frgt_email">Email</label>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-disabled="!user.email" ng-click="ForgotPassword()">Submit</button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="location.reload()">Close</button>
                    </div>

                </div>
            </div>
        </div>
        <script defer src="js/material.min.js"></script>
</body>

</html>